In [4]:
def reduce (function, iterable, initializer = None):
    it = iter(iterable)
    if initializer is None:
        value = next(it)
    else:
        value = initializer
    for element in it:
        value = function(value, element)
    return value

In [5]:
def my_add(a, b):
    result = a + b
    print (f"{a} + {b} = {result}")
    return result
iterable = [0,1,2,3,4,5]
reduce(my_add, iterable)

0 + 1 = 1
1 + 2 = 3
3 + 3 = 6
6 + 4 = 10
10 + 5 = 15

15

In [8]:
from functools import reduce
reduce(my_add, [1,2,3,4])

1 + 2 = 3
3 + 3 = 6
6 + 4 = 10

10

In [9]:
reduce(my_add, [1,2,3,4], 100)

100 + 1 = 101
101 + 2 = 103
103 + 3 = 106
106 + 4 = 110

110

### Usecases

In [11]:
#Sum
#1. User defined function
#2. A lambda function
#3. A function called operator.add function

# User defined function
def my_add(a,b):
    return a+b
from functools import reduce
reduce(my_add, [1,2,3,4])

10

In [12]:
#Using lambda function
reduce(lambda a,b: a + b, [1,2,3,4])

10

In [13]:
#Operator.add function
from operator import add
reduce(add, [1,2,3,4])

10

In [14]:
sum([1,2,3,4])

10

In [15]:
sum([1,2,3,4],3)

13

In [29]:
numbers = [1,2,3,4]
product = 1
for num in numbers:
    product *= num
print (product)

24

In [30]:
def product(a,b):
    return a*b

reduce(product, [1,2,3,4])

24

In [31]:
reduce(lambda a,b : a*b, [1,2,3,4])

24

In [32]:
from operator import mul
reduce(mul, [1,2,3,4])

24

In [33]:
from math import prod
prod([1,2,3,4])

24

In [41]:
prod([1,2,3,4], start = 2)

48

In [42]:
prod([1,2,3,4], 2)

TypeError: prod() takes exactly 1 positional argument (2 given)

In [55]:
l = [3, 5, 2, 4, 7, 1]
min_value, *rest = l
print ("min_value", min_value)
print ("rest values", *rest)
for num in l:
    if num < min_value:
        min_value = num
print (min_value)

min_value 3
rest values 5 2 4 7 1
1

In [54]:
l = [3, 5, 2, 4, 7, 1]
max_value, *rest = l
for num in l:
    if num > max_value:
        max_value = num
print (max_value)

7

In [73]:
def min_value(a,b):
    return a if a < b else b
def max_value(a,b):
    return a if a > b else b

5

In [74]:
reduce(min_value, [1,2,3,4,6,2,3,0])

0

In [75]:
reduce(max_value, [2,1,3,4,5,7])

7

In [76]:
reduce(lambda a, b: a if a<b else b, [1,2,3,4,6,2,3,0] )

0

In [77]:
reduce(lambda a, b: a if a > b else b, [1,2,3,4,6,2,3,0])

6

In [81]:
def check_all_true(iterable):
    for item in iterable:
        if not item:
            return False
    return True
check_all_true([1,1,1,1])
check_all_true([1,1,1,0,1])
check_all_true([])

True

In [89]:
def both_true(a,b):
    return bool(a and b)
both_true([],range(0))

False

In [91]:
reduce(both_true, [],True)

True

In [92]:
reduce(lambda a, b: bool(a and b), [1,1,1,1])

True

In [93]:
reduce(lambda a, b: bool(a and b), [1,1,0,1])

False

In [95]:
reduce(lambda a, b: bool(a and b), [],True)

True

In [96]:
all([1,1,1,1,1])

True

In [97]:
all([1,1,1,0,1])

False

In [98]:
all([])

True

In [99]:
def check_any_true(iterable):
    for item in iterable:
        if item:
            return True
    return False
check_any_true([0,0,0,0,1])

True

In [100]:
check_any_true([0,0,0,0])

False

In [101]:
check_any_true([])

False

In [117]:
def any_true(a,b):
    return bool (a or b)
any_true(1,0)
any_true(0,1)
any_true(0,0),

reduce(any_true, [0,0,0,1])

True

In [118]:
reduce(any_true,[1,0,0,0])

True

In [119]:
reduce(any_true,[0,0,0,0])

False

In [120]:
reduce(lambda a, b: bool (a or b), [0,0,0,0,1])

True

In [121]:
reduce(lambda a, b: bool (a or b), [0,0,0,0,0])

False

In [122]:
reduce(lambda a, b: bool (a or b), [],False)

False

In [123]:
any([0,0,0,0,1])

True

In [124]:
any([0,0,0,0,0])

False

In [125]:
any([])

False

In [ ]:
from itertools import accumulate
list(accumulate(range(5)))

In [129]:
list(accumulate([1,2,3,4], add))

[1, 3, 6, 10]

In [130]:
from timeit import timeit

def add(a,b):
    return a+b
use_add = "functools.reduce(add, range(100))"
timeit(use_add, "import functools", globals={'add': add})

24.33518720000029

In [131]:
use_lambda = "functools.reduce(lambda a,b:a+b, range(100))"
timeit(use_lambda, "import functools")

25.722004900000684

In [133]:
use_operator_add = "functools.reduce(operator.add, range(100))"
timeit(use_operator_add, "import functools, operator")

9.393234899998788

In [136]:
use_sum = "sum(range(100))"
timeit(use_sum, globals={'sum':sum})

2.685159600001498

In [141]:
def sum_even(iterable):
    return (reduce(lambda a, b: a+b if not b%2 else a, iterable, 0))

In [142]:
sum_even([1,2,3,4])

6

In [143]:
def sum_even_x(iterable):
    return (sum(num for num in iterable if not num%2))

In [144]:
sum_even_x([1,2,3,4])

6