In [1]:
t =10,20,30,40
print (type(t))
print (t)

<class 'tuple'>
(10, 20, 30, 40)

In [3]:
t = ()
print (type(t))
print (t)

<class 'tuple'>
()

In [4]:
t = (10)
print (type(t))
print (t)

<class 'int'>
10

In [5]:
t = ('A')
print (type(t))
print (t)

<class 'str'>
A

In [6]:
t = (10,)
print (type(t))
print (t)

<class 'tuple'>
(10,)

In [7]:
l = [10,20,30,40]
t = tuple(l)
print (type(t))
print (t)

<class 'tuple'>
(10, 20, 30, 40)

In [8]:
t = tuple(range(1,11,2))
print (t)
print (type(t))

(1, 3, 5, 7, 9)
<class 'tuple'>

In [12]:
t = (10,20,30,40,50)
print (t[:-1:-1])
print (t[10:])

()
()

In [13]:
t = (10,20,30,40,50)
t[1] = 60

TypeError: 'tuple' object does not support item assignment

In [14]:
t1 = (10,20,30)
t2 = (40,50,60)
t3 = t1 + t2
print (t1)
print (t2)
print (t3)

(10, 20, 30)
(40, 50, 60)
(10, 20, 30, 40, 50, 60)