In [7]:
import pandas as pd 
df = pd.DataFrame({"Name" : ["Kavitha", "Gowri", "Arjun"],
                  "Age" : [27, 44, 56],
                  "Sex": ["Female", "Female", "Male"]})
df

      Name  Age     Sex
0  Kavitha   27  Female
1    Gowri   44  Female
2    Arjun   56    Male

In [9]:
series = pd.Series([22, 34, 56], name = "Age")
series

0    22
1    34
2    56
Name: Age, dtype: int64