In [50]:
import pandas as pd
titanic_df = pd.read_csv("C:\\Users\\vinod\\Desktop\\titanic\\titanic.csv")
titanic_df.head(50) #first 50 elements
titanic_df.tail(50) #last 50 elements
titanic_df.dtypes
#titanic_df.to_excel('titanic.xlsx', sheet_name='passengers', index=False)
titanic_excel = pd.read_excel('titanic.xlsx', sheet_name = 'passengers')
#titanic_excel.head()
#titanic_excel.info()
#titanic_excel.shape
#titanic_excel.info()
type(titanic_excel["Age"])
type(titanic_excel[["Age","Sex"]])
above_35 = titanic_excel[titanic_excel["Age"] > 35]
above_35.head()

0      False
1       True
2      False
3      False
4      False
5      False
6       True
7      False
8      False
9      False
10     False
11      True
12     False
13      True
14     False
15      True
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25      True
26     False
27     False
28     False
29     False
       ...
861    False
862     True
863    False
864    False
865     True
866    False
867    False
868    False
869    False
870    False
871     True
872    False
873     True
874    False
875    False
876    False
877    False
878    False
879     True
880    False
881    False
882    False
883    False
884    False
885     True
886    False
887    False
888    False
889    False
890    False
Name: Age, Length: 891, dtype: bool